<!DOCTYPE html>
<html>
<head>
<title><%= data.title %></title>
<meta charset="utf-8">

<link rel="icon" 
      type="image/png" 
      href="nostril-logo-favicon.png" />

<link rel="stylesheet" href="/index.css">
</head>
<body>

<div class="container">
